@page
@model AddNewModel
@{
    ViewData["Title"] = "New employee";
}

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <div><label for="picture">Picture</label></div>
        <div>
            <i class="bi bi-file-person" id="placeholder"></i>
            <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif" />
        </div>
    </div>
    <div class="mb-3">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control col-md-6" placeholder="Employee full name" value="@Model.Name" />
    </div>
    <div class="mb-3">
        <label for="email">E-mail</label>
        <input id="email" name="email" class="form-control col-md-6" placeholder="Employee e-mail address" value="@Model.Email" />
    </div>
    <div class="mb-3">
        <label for="department">Department</label>
        <input id="department" name="department" class="form-control col-md-6" placeholder="Employee department" value="@Model.Department" />
    </div>
    <div class="mb-3">
        <label for="interests">Interests:</label>
        <div class="form-check">
            <span class="col-sm-1" />
            <input class="form-check-input" type="checkbox" value="true" name="isMacUser" id="isMacUser" checked="@(@Model.IsMacUser)" />
            <label for="isMacUser"><i class="bi bi-apple"> Mac user</i></label>
        </div>
        <div class="form-check">
            <span class="col-sm-1" />
            <input class="form-check-input" type="checkbox" value="true" name="isWindowsUser" id="isWindowsUser" checked="@(@Model.IsWindowsUser)" />
            <label for="isWindowsUser"><i class="bi bi-microsoft"> Windows user</i></label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
        <a type="button" class="btn btn-primary btn-sm" href="~/">Cancel</a>
    </div>    
</form>
